.movies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
}
body{
    background-color: rgb(6, 6, 6);
    color: white;
}
.image-container{
    width: 80%;

    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: solid 3px rgb(215, 159, 16);
}  

.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
   
}

.category-buttons button:hover {
    background-color: orange;
}
.category-buttons button {
    background-color: #6e6868;
    color: rgb(235, 228, 228);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .category-buttons button.active {
    background-color: orange; 
    color: white; 
  }
  
